body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode {
    background-color: #263238;
    color: #e0f7fa;
}

.app-container {
    text-align: center;
    padding: 20px;
    transition: background-color 0.5s, color 0.5s;
}